
/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Color de fondo de la página */
body {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("../pages/ImagenesPc/fondoimgamd.png"); /* Ruta de la imagen */
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
}



h2 {
    background-color: #333;
    color: white;
    padding: 20px;
    font-family: "Jaro";
    font-size: 35px;
}

/* Estilos para la barra de navegación */

 .navbar { /* Posicionar la barra de navegación en la parte superior de la página */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
    width: 100%;
    margin: 0;
  }
.bg-navbar {
    background-color: #242222; /* Cambiar el color de fondo a blanco */
}

.navbar-brand {
    font-family: "Jaro";
    font-size: 60px;
    margin-right: 200px;
    color: #000000;
    -webkit-text-stroke: 2px brown; /* Borde purpura de 2px alrededor del texto */

}

.nav-link {
    font-size: 25px;
    margin-right: 300px;
    color: #ffffff;
    letter-spacing: .1em;
    font-family: "Orbitron"
}

.navbar-nav .nav-item .nav-link1 img {
    width: 40px;
    height: auto; 
}

/* Estilo para cuando el enlace está sobre el cursor */
.nav-link:hover {
    color: #ffffff; /* Cambiar el color del texto al pasar el cursor */
}

/* Estilo para el fondo del enlace al pasar el cursor */
.nav-link:hover {
    background-color: brown; /* Cambiar el color de fondo al pasar el cursor */
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
}

/* Estilos para el carrusel de imágenes */
.slider-box {
    width: 100%;
    height: 500px;
    margin: auto 0;
    overflow: hidden;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite linear;
    transition: margin-left 1s ease-in-out; /* Agrega una transición suave */
}


.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img {
    width: 100%;
    height: 500px;
}

@keyframes slide {
    0% { margin-left: 0; }
    25%, 50%, 75% { margin-left: -100%; } /* Transición suave */
    100% { margin-left: -300%; }
}

/* Estilos para tamaños de pantalla menores a 991px */
@media (max-width: 991px) {
    body {
        padding: 30px;
    }

    .slider-box {
        width: 100%;
    }

    .texto {
        top: 50px;
        padding: 0 25px;
    }

    .texto h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .texto p {
        font-size: 15px;
    }
}

/* Estilos para los contenedores y la cuadrícula de promociones/productos */
.container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.titleproductos {
     font-size: 70px;
     text-align: center;
}

.promo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.promo-item img {
    width: 100%;
    height: 80%;
    border: white 10px groove;
    border-radius: 10px;
}

.promo-grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 100px;
}

.promo-item1 img {
    width: 100%;
    height: 110%;
    border: white 10px groove;
    border-radius: 10px;
}

.promo-item .pp {
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

.producto {
    margin-top: 100px;
}

.producto img {
    width: 200px; /* Ancho fijo */
    height: 200px; /* Altura fija */
    border: white 10px groove;
    border-radius: 10px;
   

}

.producto h3 {
    font-size: 20px;
    color: white;
    margin-top: 15px;
}

.producto span {
    font-size: 20px;
    color: white;
}

/* Estilos para el botón de WhatsApp y el pie de página */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #242222;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
}

footer p {
    color: white;
}

.social-icons {
    display: inline-block; /* Para que los iconos estén en línea */
  }
  
  .social-icons a {
    margin-right: 10px; /* Espacio entre los iconos */
  }
  
  /* Ajusta según sea necesario */
  .text-center {
    text-align: left;
  }


/* Estilos para las columnas */
.col {
    border: 2px solid black;
}

/*Estilos para html de contacto*/

.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
  margin-top: 0;
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: brown; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


.textarea1{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: brown; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


.button1 {
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: brown; 
  border-color: brown; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


.button1 p{
  color: #ece4e4; 
}


.formulario span{
  color: brown; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: brown;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.formulario {
    margin-top: 100px;
}

.contact_form { /* Agrega un poco de margen en la parte superior de la sección de contacto */
    margin-top: 150px;
  }


/*Estilos para seccion "Sobre Nosotros"*/
.container {
  max-width: 1200px;
  margin-top: 150px;
  padding: 0 20px;
}

.container h2 {
  background-color: transparent;
}

.about-us, .team {
  padding: 40px 0;
}

.about-us h2, .team h2 {
  text-align: center;
  color: white;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.team {
  margin-top: 260px;
}

.member {
  text-align: center;
  color: white;
  
}

.member img {
  width: 170px; /* Definir el ancho deseado */
  height: 170px; /* Definir la altura deseada */
  border-radius: 50%;
  
}

.container p {
  font-size: 14px; 
  color: white;
}















/*Estilos de fuentes*/
.jaro-uniquifier {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-uniquifier {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);