/* Estilos para dispositivos móviles */

@media (max-width: 575.98px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    .promo-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    .promo-item {
        width: 100%;
        margin-bottom: 1rem;
        }
        
    }

    .btn, .botonc1, .botona2 {
        padding: 5px;
        margin: auto;
    }

    .promo-item img {
        width: 100%;
        max-width: 200px;
        height: 200px;
        object-fit: cover;
        display: block;
        margin: auto;
    }

    .promo-grid1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    .promo-item1 {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        img {
            width: 200px; /* Ancho deseado */
            height: 200px; /* Altura deseada */
            object-fit: cover;
        }
        }
    }

    .promo-item1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    .cbf {
        height: auto;
    }

    .social-icons a {
        margin: 5px;
    }

    .whatsapp img {
        width: 40px;
        height: 40px;
    }
}

/* Estilos para pantallas de tablet */

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-brand {
        font-size: 1.4rem;
    }

    .navbar-nav .nav-link {
    font-size: 1rem;
    }

    .promo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        justify-items: center;
    .promo-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        }
    }

    .promo-item img, .promo-item1 img {
        width: 100%;
        max-width: 200px;
        height: 200px;
        object-fit: cover;
        display: block;
        margin: auto;
    }

    .promo-grid1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    .promo-item1 {
        margin-bottom: 1rem;
        }
    }

    .social-icons a {
        margin: 0 7px;
    }

    .whatsapp img {
        width: 45px;
        height: 45px;
    }
}

/* Estilos para pantallas de escritorio */

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand {
        font-size: 1.6rem;
    }

    .navbar-nav .nav-link {
        font-size: 1.1rem;
    }

    .promo-grid, .promo-grid1 {
        display: grid;
        gap: 1rem;
    .promo-item, .promo-item1 {
        width: 100%;
        margin-bottom: 1rem;
        }
    }

    .promo-item img, .promo-item1 img {
        width: 100%;
        max-width: 200px;
        height: 200px;
        object-fit: cover;
        display: block;
        margin: auto;
    }

    .social-icons a {
        margin: 0 10px;
    }

    .whatsapp img {
        width: 50px;
        height: 50px;
    }
}

/* Estilos generales para escritorios largos */

@media (min-width: 992px) {
    .promo-grid, .promo-grid1 {
        display: grid;
        gap: 1rem;
    .promo-item, .promo-item1 {
        width: 100%;
        margin-bottom: 1rem;
        }
    }

    .social-icons a {
        margin: 0 10px;
    }

    .whatsapp img {
        width: 50px;
        height: 50px;
    }
}
