@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial, Helvetica, sans-serif";
}

body {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../ImagenesPc/fondoimgamd.png");
  background-size: cover;
  background-position: center;
}

h2 {
  background-color: #333;
  color: white;
  padding: 20px;
  font-family: "Jaro, sans-serif";
  font-size: 35px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  margin: 0;
  background-color: #242222;
}
.navbar .navbar-brand {
  font-family: "Jaro, sans-serif";
  font-size: 60px;
  margin-right: 200px;
  color: #000000;
  -webkit-text-stroke: 2px brown;
  filter: drop-shadow(5px 5px 10px rgba(136, 18, 18, 0.76));
}
.navbar .navbar-toggler {
  background-color: white;
  order: 1;
}
.navbar .nav-link {
  font-size: 25px;
  margin-right: 300px;
  color: white;
  letter-spacing: 0.1em;
  font-family: "Orbitron, sans-serif";
}
.navbar .nav-link:hover {
  background-color: brown;
}
.navbar .dropdown-menu {
  color: white;
}

header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 999;
}

.slider-box {
  width: 100%;
  height: 500px;
  margin: auto 0;
  overflow: hidden;
}
.slider-box ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 10s infinite linear;
  transition: margin-left 1s ease-in-out;
}
.slider-box li {
  width: 100%;
  list-style: none;
  position: relative;
}
.slider-box img {
  width: 100%;
  height: 500px;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  25%, 50%, 75% {
    margin-left: -100%;
  }
  100% {
    margin-left: -300%;
  }
}
.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.container h2 {
  background-color: transparent;
}
.container.about-us, .container.team {
  padding: 40px 0;
}
.container.about-us h2, .container.team h2 {
  text-align: center;
  color: white;
}
.container p {
  font-size: 14px;
  color: white;
}
.container .titleproductos {
  margin-top: 200px;
  font-size: 70px;
  text-align: center;
  background-color: transparent;
  font-style: normal;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  filter: drop-shadow(5px 5px 10px rgba(136, 18, 18, 0.76));
}

.text-center {
  display: block;
  text-align: left;
  font-size: 60px;
  margin-top: 120px;
}

.ultimaspromociones {
  text-align: center;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  margin-top: 4px;
  font-size: 60px;
  filter: drop-shadow(5px 5px 10px rgba(136, 18, 18, 0.76));
}

.promo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.promo-grid .promo-item img {
  width: 100%;
  height: 80%;
  border: white 10px groove;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(136, 18, 18, 0.76));
}
.promo-grid .promo-item .pp {
  font-size: 30px;
  color: white;
  margin-top: 25px;
}
.promo-grid .promo-item .btn {
  margin-top: -85px;
}

.promo-grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  padding: 100px;
}
.promo-grid1 .promo-item1 img {
  width: 100%;
  height: 110%;
  border: white 10px groove;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(136, 18, 18, 0.76));
}

.producto {
  margin-top: 100px;
}
.producto img {
  width: 200px;
  height: 200px;
  border: white 10px groove;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(136, 18, 18, 0.76));
}
.producto h3 {
  font-size: 20px;
  color: white;
  margin-top: 15px;
}
.producto span {
  display: block;
  margin-top: 20px;
  font-weight: 300px;
  font-size: 30px;
  color: white;
}
.producto .btn {
  margin-top: 30px;
}

.col {
  border: 2px solid black;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
  margin-top: 0;
  margin-top: 150px;
  box-shadow: 0 0 10px rgb(252, 252, 252);
  filter: drop-shadow(5px 5px 10px rgba(136, 18, 18, 0.76));
}
.contact_form input {
  width: 408px;
  height: 40px;
  background-color: #fbfbfb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: brown;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.contact_form .textarea1 {
  width: 405px;
  height: 150px;
  background-color: #fbfbfb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: brown;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.contact_form label {
  display: block;
  float: center;
}
.contact_form .button1 {
  width: 420px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: brown;
  border-color: brown;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}
.contact_form .button1 p {
  color: #ece4e4;
}
.contact_form .formulario span {
  color: brown;
}
.contact_form .formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.contact_form .formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.contact_form .aviso {
  font-size: 13px;
  color: #0e0e0e;
}
.contact_form .validacion {
  font-size: 13px;
  color: #f00;
}

/*Estilos para seccion "Sobre Nosotros"*/
.about-us .container {
  max-width: 1200px;
  margin-top: 150px;
  padding: 0 20px;
}
.about-us .container h2 {
  background-color: transparent;
  text-align: center;
  color: white;
}

.team {
  padding: 40px 0;
  margin-top: 260px;
}
.team .member {
  text-align: center;
  color: white;
}
.team .member img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  max-width: 120px;
}
.team .team-members {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container p {
  font-size: 14px;
  color: white;
}

/* Estilos para seccion de preguntas frecuentes */
.faq-section {
  margin-top: 300px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.faq-section .accordion-item {
  margin-top: 2px;
}
.faq-section .accordion-item button {
  font-size: 20px;
}
.faq-section .faq-title {
  font-size: 60px;
  font-style: normal;
  box-shadow: 0 0 10px rgb(252, 252, 252);
  filter: drop-shadow(5px 5px 10px rgba(136, 18, 18, 0.76));
}
.faq-section .accordion-body {
  font-size: 20px;
}

/*Estilos para pie de pagina (footer)*/
footer {
  width: 100%;
  height: 150px;
  left: 0;
  bottom: 0;
  background-color: #242222;
  color: white;
  padding: 20px 0;
  margin-top: 150px;
}
footer p {
  color: white;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.cbf {
  background-color: #242222;
}
.cbf p {
  font-size: 25px;
}

.pf {
  margin-top: 300px;
}

.social-icons {
  display: inline-block; /* Para que los iconos estén en línea */
}
.social-icons a {
  text-decoration: none;
  margin-right: 10px; /* Espacio entre los iconos */
}

/*Estilos de fuentes*/
.jaro-uniquifier {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Estilos para dispositivos móviles */
@media (max-width: 575.98px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
  .navbar-nav .nav-link {
    font-size: 0.9rem;
  }
  .promo-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .promo-grid .promo-item {
    width: 100%;
    margin-bottom: 1rem;
  }
  .btn, .botonc1, .botona2 {
    padding: 5px;
    margin: auto;
  }
  .promo-item img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  .promo-grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .promo-grid1 .promo-item1 {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  .promo-grid1 .promo-item1 img {
    width: 200px; /* Ancho deseado */
    height: 200px; /* Altura deseada */
    object-fit: cover;
  }
  .promo-item1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .cbf {
    height: auto;
  }
  .social-icons a {
    margin: 5px;
  }
  .whatsapp img {
    width: 40px;
    height: 40px;
  }
}
/* Estilos para pantallas de tablet */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    font-size: 1.4rem;
  }
  .navbar-nav .nav-link {
    font-size: 1rem;
  }
  .promo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
  }
  .promo-grid .promo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .promo-item img, .promo-item1 img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  .promo-grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .promo-grid1 .promo-item1 {
    margin-bottom: 1rem;
  }
  .social-icons a {
    margin: 0 7px;
  }
  .whatsapp img {
    width: 45px;
    height: 45px;
  }
}
/* Estilos para pantallas de escritorio */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand {
    font-size: 1.6rem;
  }
  .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  .promo-grid, .promo-grid1 {
    display: grid;
    gap: 1rem;
  }
  .promo-grid .promo-item, .promo-grid .promo-item1, .promo-grid1 .promo-item, .promo-grid1 .promo-item1 {
    width: 100%;
    margin-bottom: 1rem;
  }
  .promo-item img, .promo-item1 img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  .social-icons a {
    margin: 0 10px;
  }
  .whatsapp img {
    width: 50px;
    height: 50px;
  }
}
/* Estilos generales para escritorios largos */
@media (min-width: 992px) {
  .promo-grid, .promo-grid1 {
    display: grid;
    gap: 1rem;
  }
  .promo-grid .promo-item, .promo-grid .promo-item1, .promo-grid1 .promo-item, .promo-grid1 .promo-item1 {
    width: 100%;
    margin-bottom: 1rem;
  }
  .social-icons a {
    margin: 0 10px;
  }
  .whatsapp img {
    width: 50px;
    height: 50px;
  }
}
.h3tamaño {
  color: white;
  font-size: 30px;
}

.h4tamaño {
  color: white;
  font-size: 20px;
}

.listacolores {
  color: #fbfbfb;
}

/*# sourceMappingURL=style.css.map */
